Praktikum 01 – Pengenalan Variabel dan Tipe Data

In [ ]:
# kode untuk praktikum 01

In [ ]:
# Integer
umur = 20
print("Umur:", umur, "→", type(umur))

# Float
tinggi = 170.5
print("Tinggi:", tinggi, "→", type(tinggi))

# String
nama = "Andi"
print("Nama:", nama, "→", type(nama))

# Boolean
is_mahasiswa = True
print("Status Mahasiswa:", is_mahasiswa, "→", type(is_mahasiswa))

# List
nilai = [80, 85, 90]
print("Nilai:", nilai, "→", type(nilai))

# Tuple
koordinat = (10, 20)
print("Koordinat:", koordinat, "→", type(koordinat))

# Dictionary
mahasiswa = {"nama": "Andi", "umur": 20, "prodi": "TRK"}
print("Data Mahasiswa:", mahasiswa, "→", type(mahasiswa))

# Set
hobi = {"membaca", "olahraga", "musik"}
print("Hobi:", hobi, "→", type(hobi))

Umur: 20 → <class 'int'>
Tinggi: 170.5 → <class 'float'>
Nama: Andi → <class 'str'>
Status Mahasiswa: True → <class 'bool'>
Nilai: [80, 85, 90] → <class 'list'>
Koordinat: (10, 20) → <class 'tuple'>
Data Mahasiswa: {'nama': 'Andi', 'umur': 20, 'prodi': 'TRK'} → <class 'dict'>
Hobi: {'membaca', 'musik', 'olahraga'} → <class 'set'>

Praktikum 02 - Input dan Output Dasar

In [ ]:
# kode untuk praktikum 02

In [ ]:
# Input string
nama = input("Masukkan nama Anda: ")

# Input integer
umur = int(input("Masukkan umur Anda: "))

# Input float
tinggi = float(input("Masukkan tinggi badan (cm): "))

# Output standar
print("Halo,", nama, "umur Anda:", umur, "tahun, tinggi:", tinggi, "cm")

# Output dengan format()
print("Halo {0}, umur Anda {1} tahun, tinggi {2} cm".format(nama, umur, tinggi))

# Output dengan f-string
print(f"Halo {nama}, umur Anda {umur} tahun, tinggi {tinggi} cm")

Masukkan nama Anda: Vannisa
Masukkan umur Anda: 19
Masukkan tinggi badan (cm): 156
Halo, Vannisa umur Anda: 19 tahun, tinggi: 156.0 cm
Halo Vannisa, umur Anda 19 tahun, tinggi 156.0 cm
Halo Vannisa, umur Anda 19 tahun, tinggi 156.0 cm

Praktikum 03 - Operator Aritmatika

In [ ]:
# kode untuk praktikum 03

In [ ]:
a = 15
b = 4

print ("a + b =", a + b)
print ("a - b =", a - b)
print ("a * b =", a * b)
print ("a / b =", a / b)
print ("a // b =", a // b)
print ("a % b =", a % b)
print ("a ** b =", a ** b)

a + b = 19
a - b = 11
a * b = 60
a / b = 3.75
a // b = 3
a % b = 3
a ** b = 50625

Praktikum 04 - Operator Relasional

In [ ]:
# kode untuk praktikum 04

In [ ]:
x = 10
y = 20

print("x == y :", x == y)
print("x != y :", x != y)
print("x < y :", x < y)
print("x > y :", x > y)
print("x <= y :", x <= y)
print("x >= y :", x >= y)

x == y : False
x != y : True
x < y : True
x > y : False
x <= y : True
x >= y : False

Praktikum 05 - Operator Logika dengan Studi Kasus  Nyata

In [ ]:
# kode untuk praktikum 05

In [ ]:
# Operator logika dasar
a = True
b = False

print("a and b =", a and b)
print("a or b  =", a or b)
print("not a   =", not a)

#Studi kasus nyata: kelulusan
nilai = int(input("Masukan nilai ujian: "))
hadir = int(input("Masukan jumlah kehadiran: "))

lulus_nilai = nilai >=  60
lulus_hadir = hadir >= 12 # dari 16 pertemuan

if lulus_nilai and lulus_hadir:
  print("Satus: LULUS")
else:
  print("Status: TIDAK LULUS")

a and b = False
a or b  = True
not a   = False
Masukan nilai ujian: 100
Masukan jumlah kehadiran: 16
Satus: LULUS

Praktikum 06 - Program Kasir Sederhana

In [ ]:
# kode untuk praktikum 06

In [ ]:
# Input data
barang = input("Nama barang: ")
harga = int(input("Harga barang: "))
jumlah = int(input("Jumlah barang: "))

# Hitung total
total = harga * jumlah

# Aturan diskon
if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

#Hitung potongan dan total bayar
potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon * 100}%")
print(f"Bayar : Rp {bayar}")

Nama barang: Baju
Harga barang: 300000
Jumlah barang: 3

===== Struk Belanja =====
Barang : Baju
Jumlah : 3
Total : Rp 900000
Diskon : 20.0%
Bayar : Rp 720000.0

Tugas Identitas Mahasiswa

In [ ]:
# kode untuk tugas identitas mahasiswa

In [9]:
nama = (input("Masukkan nama Anda: "))
umur = int(input("Masukkan umur Anda: "))
tinggi = float(input("Masukkan tinggi badan (cm): "))
status_aktif = True

print("\n===Identitas Mahasiswa===")
print(f"Nama         : {nama}")
print(f"Umur         : {umur} tahun")
print(f"Tinggi Badan : {tinggi} cm")
print(f"Status Aktif : {"Aktif" if status_aktif else "Tidak Aktif"}")

Masukkan nama Anda: Vannisa
Masukkan umur Anda: 19
Masukkan tinggi badan (cm): 156

===Identitas Mahasiswa===
Nama         : Vannisa
Umur         : 19 tahun
Tinggi Badan : 156.0 cm
Status Aktif : Aktif

Tugas Operasi Aritmatika

In [ ]:
# kode untuk tugas operasi aritmatika

In [7]:
a = int(input("Masukkan bilangan pertama: "))
b = int(input("Masukkan bilangan kedua  : "))

print("\n=== Hasil Operasi Aritmatika ===")
print("a + b  =", a + b)
print("a - b  =", a - b)
print("a * b  =", a * b)
print("a / b  =", a / b)
print("a % b  =", a % b)
print("a ** b =", a ** b)

Masukkan bilangan pertama: 7
Masukkan bilangan kedua  : 4

=== Hasil Operasi Aritmatika ===
a + b  = 11
a - b  = 3
a * b  = 28
a / b  = 1.75
a % b  = 3
a ** b = 2401

Tugas Konversi Nilai

In [ ]:
# kode untuk tugas konversi nilai

In [ ]:
angka = float(input("Masukkan angka desimal: "))

angka_int   = int(angka)
angka_str   = str(angka)
angka_bulat = round(angka, 2)

print("\n=== Hasil Konversi Nilai ===")
print(f"Nilai asli        : {angka}")
print(f"Bentuk integer    : {angka_int}")
print(f"Bentuk string     : {angka_str}")
print(f"Hasil pembulatan  : {angka_bulat}")

Masukkan angka desimal: 7.456

=== Hasil Konversi Nilai ===
Nilai asli        : 7.456
Bentuk integer    : 7
Bentuk string     : 7.456
Hasil pembulatan  : 7.46

Tugas Operator Relasional

In [ ]:
# kode untuk tugas operator rasional

In [11]:
x = int(input("Masukkan bilangan pertama: "))
y = int(input("Masukkan bilangan kedua: "))

print("\n=== Hasil Perbandingan ===")
print(f"{x} == {y} : {x == y}")
print(f"{x} != {y} : {x != y}")
print(f"{x} <  {y} : {x < y}")
print(f"{x} >  {y} : {x > y}")
print(f"{x} <= {y} : {x <= y}")
print(f"{x} >= {y} : {x >= y}")

Masukkan bilangan pertama: 25
Masukkan bilangan kedua: 15

=== Hasil Perbandingan ===
25 == 15 : False
25 != 15 : True
25 <  15 : False
25 >  15 : True
25 <= 15 : False
25 >= 15 : True