Praktikum 01. Menghitung Luas Persegi Panjang

In [ ]:
# kode untuk praktikum 01

In [ ]:
p = int (input("Masukan panjang: "))
l = int (input "Masukan lebar: "))
luas = p * l
print ("Luas persegi panjang =", luas)

Masukan panjang: 6
Masukan lebar: 4
Luas persegi panjang = 24

Praktikum 02. Menghitung Luas Segitiga

In [ ]:
# kode untuk praktikum 02

In [4]:
import math

a = float(input("Masukan sisi a: "))
b = float(input("Masukan sisi b: "))
c = float(input("Masukan sisi c: "))

s = (a+b+c)/2
luas = math.sqrt(s*(s-a)*(s-b)*(s-c))
print("Luas segitiga =", luas)

Masukan sisi a: 12
Masukan sisi b: 12
Masukan sisi c: 12
Luas segitiga = 62.353829072479584

Praktikum 03. Konversi Suhu Celcius ke Fahrenheit

In [ ]:
# kode untuk praktikum 03

In [ ]:
c = float(input("Masukan suhu(C): "))
f = (c*9/5)+32
print("Hasil konversi =", f, "F")

Masukan suhu(C): 30
Hasil konversi = 86.0 F

Praktikum 04.  Menghitung Umur Berdasarkan Tahun Lahir

In [ ]:
# kode untuk praktikum 04

In [6]:
tahun_lahir = int(input("Masukan tahun lahir: "))
tahun_sekarang = 2025
umur = tahun_sekarang - tahun_lahir
print("Umur anda =", umur, "tahun")

Masukan tahun lahir: 2006
Umur anda = 19 tahun

Praktikum 05. Menghitung Luas Lingkaran

In [ ]:
# kode untuk praktikum 05

In [5]:
import math
r = float(input("Masukan jari-jari lingkaran: "))
luas = math.pi*r*r
print("Luas lingkaran =", luas)

Masukan jari-jari lingkaran: 14
Luas lingkaran = 615.7521601035994

Praktikum 06. Menjumlahkan Tiga Bilangan

In [ ]:
# kode untuk praktikum 06

In [7]:
a = int(input("Masukan bilangan pertama: "))
b = int(input("Masukan bilangan kedua: "))
c = int(input("Masukan bilangan ketiga: "))
jumlah = a+b+c
print("Jumlah =", jumlah)

Masukan bilangan pertama: 23
Masukan bilangan kedua: 12
Masukan bilangan ketiga: 21
Jumlah = 56

Tugas Menghitung Volume Balok

In [ ]:
# kode untuk tugas menghitung volume balok

In [8]:
p = float(input("Masukan panjang: "))
l = float(input("Masukan lebar: "))
t = float(input("Masukan tinggi: "))
volume = p*l*t
print("Volume balok =", volume)

Masukan panjang: 8
Masukan lebar: 2
Masukan tinggi: 3
Volume balok = 48.0

Tugas Konversi Waktu

In [ ]:
# kode untuk tugas konversi waktu

In [ ]:
totaldetik = int(input("Masukan jumlah detik: "))
jam = totaldetik // 3600
sisa = totaldetik % 3600
menit = sisa // 60
detik = sisa % 60
print(f"{jam} jam, {menit} menit, {detik} detik")

Masukan jumlah detik: 4567
1 jam, 16 menit, 7 detik

Tugas Rata-rata Nilai Tiga Mata Kuliah

In [ ]:
# kode untuk tugas rata-rata nilai tiga mata kuliah

In [10]:
nilai1 = int(input("Masukkan nilai mata kuliah 1: "))
nilai2 = int(input("Masukkan nilai mata kuliah 2: "))
nilai3 = int(input("Masukkan nilai mata kuliah 3: "))
rata_rata = (nilai1 + nilai2 + nilai3) / 3
print("Nilai rata-rata:", rata_rata)
if rata_rata >= 60:
    print("Lulus")
else:
    print("Tidak Lulus")

Masukkan nilai mata kuliah 1: 40
Masukkan nilai mata kuliah 2: 30
Masukkan nilai mata kuliah 3: 50
Nilai rata-rata: 40.0
Tidak Lulus

Tugas Menghitung Diskon Belanja

In [ ]:
# kode untuk tugas menghitung diskon belanja

In [13]:
belanja = float(input("Masukkan total belanja: "))
if belanja >= 500000:
    diskon = belanja * 0.20
elif belanja >= 250000:
    diskon = belanja * 0.10
else:
    diskon = 0
totalbayar = belanja - diskon
print("Total belanja :", belanja)
print("Diskon :", diskon)
print("Total bayar :", totalbayar)

Masukkan total belanja: 350000
Total belanja : 350000.0
Diskon : 35000.0
Total bayar : 315000.0