Praktikum 01 - Perulangan For dan Range

In [ ]:
# kode untuk praktikum 01

In [ ]:
for i in range(1, 6):
  print(i)

1
2
3
4
5

Praktikum 02 - While (Hitung Mundur)

In [ ]:
# kode untuk praktikum 02

In [ ]:
n = int(input("Masukan angka: "))
while n > 0:
  print(n)
  n -= 1

Masukan angka: 5
5
4
3
2
1

Praktikum 03 - Nested Loop (Segitiga Bintang)

In [ ]:
# kode untuk praktikum 03

In [ ]:
for i in range(1, 6):
  for j in range(i):
    print("*", end="")
  print()

*
**
***
****
*****

Praktikum 04 - Break

In [ ]:
# kode untuk praktikum 04 break

In [ ]:
for i in range(1, 11):
  if i == 5:
    print("Angka 5 ditemukan")
    break

Angka 5 ditemukan

Praktikum 04 - Continue

In [ ]:
# kode untuk praktikum 04 continue

In [ ]:
for i in range(1, 6):
  if i % 2 == 1:
    continue
  print(i)

2
4

Praktikum 05 - For pada Dictionary

In [ ]:
# kode untuk praktikum 05

In [ ]:
data = {"Nama": "Andi", "Umur": 20, "Prodi": "TRK"}

for k, v in data.items():
  print(k, ":", v)

Nama : Andi
Umur : 20
Prodi : TRK

Praktikum 06 - For dengan Enumerate

In [ ]:
# kode untuk praktikum 06

In [ ]:
daftar = ["Andi", "Budi", "Cici"]

for i, nama in enumerate(daftar, start=1):
  print(i, nama)

1 Andi
2 Budi
3 Cici

Praktikum 07 - Kasir Multi-Item

In [ ]:
# kode untuk praktikum 07

In [ ]:
total = 0

while True:
  barang = input("Masukan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float (input(f"Masukan harga {barang}: "))
  jumlah = int(input(f"Masukan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")

Masukan nama barang (ketik 'selesai' untuk berhenti): Buku
Masukan harga Buku: 50000
Masukan jumlah Buku: 2
Masukan nama barang (ketik 'selesai' untuk berhenti): Pulpen
Masukan harga Pulpen: 5000
Masukan jumlah Pulpen: 3
Masukan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 115000.0

Tugas Menampilkan Deret Angka

In [ ]:
# kode untuk tugas menampilkan deret angka

In [ ]:
for i in range(3,31, 3):
  print(i)

3
6
9
12
15
18
21
24
27
30

Tugas Hitung Faktorial

In [ ]:
# kode untuk tugas hitung faktorial

In [ ]:
import math

n = int(input("Masukan angka: "))
faktorial = 1

i = n
while i > 0:
  faktorial *= i
  i -= 1

print(f"Hasil faktorial = {faktorial}")

Masukan angka: 5
Hasil faktorial = 120

Tugas Pola Segitiga Terbalik

In [ ]:
# kode untuk tugas pola segitiga terbalik

In [ ]:
for i in range(5, 0, -1):
  for j in range(i):
    print("*", end="")
  print()

*****
****
***
**
*

Tugas Bilangan Prima dengan Break

In [ ]:
# kode untuk tugas bilangan prima dengan break

In [2]:
n = int(input("Masukkan bilangan: "))
if n > 1:
    for i in range(2, n):
        if n % i == 0:
            print(f"{n} bukan bilangan prima")
            break
    else:
        print(f"{n} adalah bilangan prima")
else:
    print(f"{n} bukan bilangan prima")

Masukkan bilangan: 7
7 adalah bilangan prima

Tugas Tampilkan Hanya Bilangan Genap dengan Continue

In [ ]:
# kode untuk tugas hanya tampilkan hanya bilangan genap dengan continue

In [ ]:
for i in range(1, 21):
  if i % 2 == 1:
    continue
  print(i)

2
4
6
8
10
12
14
16
18
20

Tugas Iterasi Dictionary Mahasiswa

In [ ]:
# kode untuk tugas iterasi dictionary mahasiswa

In [1]:
mahasiswa = {"Nama": "Budi", "Umur": 21, "Prodi": "Teknik Komputer"}

for k, v in mahasiswa.items():
  print(k, ":", v)

Nama : Budi
Umur : 21
Prodi : Teknik Komputer

Tugas Enumerate Daftar Barang

In [ ]:
# kode untuk tugas enumerate daftar barang

In [ ]:
daftar_barang = ["Buku", "Pulpen", "Tas"]

for i, barang in enumerate (daftar_barang, start=1):
  print(i, barang)

1 Buku
2 Pulpen
3 Tas

Tugas Studi Kasus - Kasir Diskon

In [ ]:
#k kode untuk tugas studi kasus - kasir diskon

In [ ]:
total = 0

while True:
  barang = input("Masukan nama barang (ketik 'selesai' untuk berhenti): ")
  if barang.lower() == "selesai":
    break
  harga = float (input(f"Masukan harga {barang}: "))
  jumlah = int(input(f"Masukan jumlah {barang}: "))
  subtotal = harga * jumlah
  total += subtotal

if total >= 200000:
    diskon = 0.1
else:
    diskon = 0

potongan = total * diskon
bayar = total - potongan

print("\n===== Struk Belanja =====")
print(f"Total Belanja : Rp {total}")
print(f"Diskon : Rp {potongan}")
print(f"Bayar : Rp {bayar}")

Masukan nama barang (ketik 'selesai' untuk berhenti): Tas
Masukan harga Tas: 50000
Masukan jumlah Tas: 2
Masukan nama barang (ketik 'selesai' untuk berhenti): Sepatu
Masukan harga Sepatu: 200000
Masukan jumlah Sepatu: 1
Masukan nama barang (ketik 'selesai' untuk berhenti): selesai

===== Struk Belanja =====
Total Belanja : Rp 300000.0
Diskon : Rp 30000.0
Bayar : Rp 270000.0