Praktikum 01 - Tuple: Data Tetap yang Tidak Bisa Diubah

In [ ]:
# kode untuk praktikum 01

In [ ]:
koordinat = (7.05, 110.44)
print("Lintang:", koordinat[0])
print("Bujur  :", koordinat[1])

Lintang: 7.05
Bujur  : 110.44

Praktikum 02 - Dictionary Dasar: Menyimpan Data Mahasiswa

In [ ]:
# kode untuk praktikum 02

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

print("NIM  :", mahasiswa["NIM"])
print("Nama :", mahasiswa["Nama"])
print("Prodi:", mahasiswa["Prodi"])

NIM  : 20251001
Nama : Andi
Prodi: TRK

Praktikum 03 - Operasi pada Dictionary

In [ ]:
# kode untuk praktikum 03

In [ ]:
mahasiswa = {
    "NIM": "20251001",
    "Nama": "Andi",
    "Prodi": "TRK"
}

mahasiswa["Umur"] = 20
mahasiswa["Prodi"]= "Teknik Komputer"
del mahasiswa["Umur"]

print(mahasiswa)

{'NIM': '20251001', 'Nama': 'Andi', 'Prodi': 'Teknik Komputer'}

Praktikum 04 - Set dan Operasi Himpunan

In [ ]:
# kode untuk praktikum 04

In [ ]:
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("Union:", A | B)
print("Intersection:", A & B)
print("Differences:", A - B)

Union: {1, 2, 3, 4, 5, 6}
Intersection: {3, 4}
Differences: {1, 2}

Praktikum 05 - Studi Kasus: Data Mahasiswa dan Mata Kuliah

In [ ]:
# kode untuk praktikum 05

In [ ]:
mhs1 = {"Algoritma", "Matematika", "Bahasa Inggris"}
mhs2 = {"Algoritma", "Basis Data", "Matematika"}

print("Mata kuliah Mhs1:", mhs1)
print("Mata kuliah Mhs2:", mhs2)
print("Mata kuliah yang sama:", mhs1 & mhs2)

Mata kuliah Mhs1: {'Matematika', 'Algoritma', 'Bahasa Inggris'}
Mata kuliah Mhs2: {'Matematika', 'Algoritma', 'Basis Data'}
Mata kuliah yang sama: {'Matematika', 'Algoritma'}

Praktikum 06 - Studi Kasus Dictionary: Daftar Nilai Mahasiswa

In [ ]:
# kode untuk praktikum 06

In [ ]:
nilai_mahasiswa = {
    "Andi": 80,
    "Budi": 75,
    "Cici": 90
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 80
Budi: 75
Cici: 90
Rata-rata nilai: 81.67

Tugas Tuple Sederhana

In [ ]:
# kode untuk tugas tuple sederhana

In [ ]:
mahasiswa = ("Vannisa", 19, "TRK")
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[2])

Vannisa
19
TRK

Tugas Tuple Tidak Bisa Diubah

In [ ]:
# kode untuk tugas tuple tidak bisa diubah

In [ ]:
data = (1, 2, 3)

data[0]= 4

print(angka)

TypeError: 'tuple' object does not support item assignment

Tugas Dictionary Dasar

In [ ]:
# kode untuk tugas dictionary dasar

In [ ]:
data_buku = {
    "Judul": "Algoritma",
    "Penulis": "Munir",
    "Tahun": "2021"
}

print("Judul   :", data_buku["Judul"])
print("Penulis :", data_buku["Penulis"])
print("Tahun   :", data_buku["Tahun"])

Judul   : Algoritma
Penulis : Munir
Tahun   : 2021

Tugas Operasi Dictionary

In [ ]:
# kode untuk tugas operasi dictionary

In [ ]:
data_dosen = {
    "NIP": "12345",
    "Nama": "Budi",
    "Prodi": "TRK"
}

data_dosen["Umur"] = 40
data_dosen["Prodi"] = "Teknik Komputer"
del data_dosen["Umur"]

print(data_dosen)

{'NIP': '12345', 'Nama': 'Budi', 'Prodi': 'Teknik Komputer'}

Tugas Set dan Himpunan

In [ ]:
# kode untuk tugas set dan himpunan

In [ ]:
A = {"Matematika", "Algoritma", "Bahasa Inggris"}
B = {"Algoritma", "Basis Data", "Matematika"}

print("Union:", A | B)
print("Intersection:", A & B)
print("Differences:", A - B)

Union: {'Matematika', 'Bahasa Inggris', 'Algoritma', 'Basis Data'}
Intersection: {'Matematika', 'Algoritma'}
Differences: {'Bahasa Inggris'}

Tugas Studi Kasus Dictionary

In [ ]:
# kode untuuk studi kasus dictionary

In [ ]:
nilai_mahasiswa = {
    "Andi": 85,
    "Budi": 90,
    "Cici": 78
}

for nama, nilai in nilai_mahasiswa.items():
  print(f"{nama}: {nilai}")

rata = sum(nilai_mahasiswa.values()) / len(nilai_mahasiswa)
print(f"Rata-rata nilai: {rata:.2f}")

Andi: 85
Budi: 90
Cici: 78
Rata-rata nilai: 84.33

Tugas Kasus Set-Klub Mahasiswa

In [ ]:
# kode untuk kasus set-klub mahasiswa

In [ ]:
klubA = {"Andi", "Budi", "Cici"}
klubB = {"Cici", "Deni", "Eka"}

print("Daftar seluruh anggota:", klubA | klubB)
print("Daftar anggota yang ada di dua klub:", klubA & klubB)
print("Anggota yang hanya ada di Klub A tetapi tidak di Klub B:", klubA - klubB)

Daftar seluruh anggota: {'Budi', 'Andi', 'Cici', 'Eka', 'Deni'}
Daftar anggota yang ada di dua klub: {'Cici'}
Anggota yang hanya ada di Klub A tetapi tidak di Klub B: {'Andi', 'Budi'}