Praktikum 01 - Membuat dan Mengakses List 1D

In [ ]:
# kode untuk praktikum 01

In [ ]:
mahasiswa = ["Andi", "Budi", "Cici"]
print(mahasiswa[0])
print(mahasiswa[1])
print(mahasiswa[-1])

Andi
Budi
Cici

Praktikum 02 - Update dan Operasi Dasar List

In [ ]:
# kode untuk praktikum 02

In [ ]:
nilai = [85, 90, 78]
nilai[1] = 95
nilai.append(100)
nilai.remove(78)
print(nilai)

[85, 95, 100]

Praktikum 03 - Slicing List

In [ ]:
# kode untuk praktikum 03

In [ ]:
nilai = [85, 90, 78, 92, 88]
print(nilai[0:3])
print(nilai[2:])
print(nilai[:3])

[85, 90, 78]
[78, 92, 88]
[85, 90, 78]

Praktikum 04 - List 2D (Matriks)

In [ ]:
# kode untuk praktikum 04

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matriks [0] [0])
print(matriks [1] [2])
print(matriks [2])

1
6
[7, 8, 9]

Praktikum 05 - Operasi pada list 2D

In [ ]:
# kode untuk operasi pada list 2D

In [ ]:
A = [[1, 2, 3], [4, 5, 6]]
B = [[7, 8, 9], [10, 11, 12]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i] [j] + B[i] [j])
  C.append(baris)
print(C)

[[8, 10, 12], [14, 16, 18]]

Praktikum 06 - Studi Kasus Pengelolaan Nilai Mahasiswa

In [ ]:
# kode untuk praktikum 06

In [ ]:
nilai = [
    [80, 90, 85],
    [70, 75, 80],
    [88, 92, 84]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata mahasiswa {i}: {rata:.2f}")

Rata-rata mahasiswa 1: 85.00
Rata-rata mahasiswa 2: 75.00
Rata-rata mahasiswa 3: 88.00

Tugas Akses Elemen list

In [ ]:
# kode untuk tugas akses elemen list

In [ ]:
mahasiswa = ["Nayla", "Rara", "Sabrina", "Okta", "Vannisa"]
print(mahasiswa[0])
print(mahasiswa[-1])
print(mahasiswa[2])

Nayla
Vannisa
Sabrina

Tugas Operasi Pada List

In [ ]:
# kode untuk operasi pada list

In [ ]:
nilai = [70, 75, 80]
nilai[1] = 85
nilai.append(90)
nilai.remove(70)
print(nilai)

[85, 80, 90]

Tugas Slicing List

In [ ]:
# kode untuk tugas slicing list

In [ ]:
angka = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
print(angka[0:3])
print(angka[-4:])
print(angka[: :2])

[1, 2, 3]
[8, 9, 10, 11]
[1, 3, 5, 7, 9, 11]

Tugas List 2D - Matriks

In [ ]:
# kode untuk tugas list 2D - matriks

In [ ]:
matriks = [
    [1, 2, 3],
    [4, 5, 6]
]

print(matriks[0] [1])
print(matriks[1] [2])
print(matriks[0])

2
6
[1, 2, 3]

Tugas Operasi 2D

In [ ]:
# kode untuk tugas operasi 2D

In [ ]:
A = [[1, 2], [3, 4]]
B = [[5, 6], [7, 8]]
C = []

for i in range(len(A)):
  baris = []
  for j in range(len(A[0])):
    baris.append(A[i] [j] + B[i] [j])
  C.append(baris)
print(C)

[[6, 8], [10, 12]]

Tugas Rata-rata Nilai Mahasiswa

In [ ]:
# kode untuk tugas rata-rata nilai mahasiswa

In [ ]:
nilai = [
    [75, 80, 85],
    [60, 70, 65],
    [90, 95, 92]
]

for i, baris in enumerate(nilai, start=1):
  rata = sum(baris) / len(baris)
  print(f"Rata-rata nilai mahasiswa {i}: {rata:.2f}")

Rata-rata nilai mahasiswa 1: 80.00
Rata-rata nilai mahasiswa 2: 65.00
Rata-rata nilai mahasiswa 3: 92.33

Tugas Studi Kasus - Data Toko

In [ ]:
# kode untuk tugas studi kasus - data toko

In [ ]:
stok_barang = [
    ["Buku", 20],
    ["Pulpen", 35],
    ["Penghapus", 15]
]

print(f"=== Daftar Barang === ")
for i in stok_barang:
    print(f"{i[0]}: {i[1]}")

barang_terbanyak = stok_barang[0]
for i in stok_barang:
  if i[1] > barang_terbanyak [1]:
    barang_terbanyak = i
print(f"\nBarang dengan stok terbanyak: {barang_terbanyak[0]} {barang_terbanyak[1]}")

=== Daftar Barang ===
Buku: 20
Pulpen: 35
Penghapus: 15

Barang dengan stok terbanyak: Pulpen 35