Praktikum 01 - If Sederhana

In [ ]:
# kode untuk praktikum 01

In [ ]:
nilai = int(input("Masukan nilai ujian: "))
if nilai >= 60:
  print("Anda Lulus")

Masukan nilai ujian: 70
Anda Lulus

Praktikum 02 - If Else

In [ ]:
# kode untuk praktikum 02

In [ ]:
nilai = int(input("Masukan nilai ujian: "))
if nilai >=60:
  print("Anda LULUS")
else:
  print("Anda TIDAK LULUS")

Masukan nilai ujian: 50
Anda TIDAK LULUS

Praktikum 03 - If-Elif-Else

In [ ]:
# kode untuk praktikum 03

In [ ]:
nilai = int(input("Masukan nilai akhir: "))

if nilai >= 85:
  grade = "A"
elif nilai >= 70:
  grade = "B"
elif nilai >= 55:
  grade = "C"
elif nilai >= 40:
  grade = "D"
else:
  grade = "E"

print(f"Nilai Anda {nilai}, maka grade Anda = {grade}")

Masukan nilai akhir: 78
Nilai Anda 78, maka grade Anda = B

Praktikum 04 - Nested If (Beasiswa)

In [ ]:
# kode untuk praktikum 04

In [ ]:
ipk = float(input("Masukan IPK: "))
sks = int(input("Masukan jumlah SKS: "))

if ipk >= 3.0:
  if sks >= 18:
    print("Anda LAYAK mendapat beasiswa")
  else:
    print("IPK memenuhi, tapi SKS kurang")
else:
  print("Anda TIDAK layak mendapat beasiswa")

Masukan IPK: 2.8
Masukan jumlah SKS: 20
Anda TIDAK layak mendapat beasiswa

Praktikum 05 - Match Case

In [ ]:
# kode untuk praktikum 05

In [1]:
menu = int(input("Pilih menu (1-3): "))

match menu:
  case 1:
    print("Anda memilih Nasi Goreng")
  case 2:
    print("Anda memilih Mie Ayam")
  case 3:
    print("Anda memilih Soto Ayam")
  case _:
    print ("Menu tidak tersedia")

Pilih menu (1-3): 2
Anda memilih Mie Ayam

Praktikum 06 - Program Kasir

In [ ]:
# kode untuk praktikum 06

In [ ]:
barang = input("Masukan nama barang: ")
harga = float(input("Masukan harga barang: "))
jumlah = int(input("Masukan jumlah barang: "))

total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total - (total * diskon)

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total : Rp {total}")
print(f"Diskon : {diskon*100}%")
print(f"Bayar : Rp {bayar}")

Masukan nama barang: Pulpen
Masukan harga barang: 5000
Masukan jumlah barang: 10

===== Struk Belanja =====
Barang : Pulpen
Jumlah : 10
Total : Rp 50000.0
Diskon : 0%
Bayar : Rp 50000.0

Tugas Cek Bilangan Positif/Negatif/Nol

In [ ]:
# kode untuk tugas cek bilangan positif/negatif/nol

In [ ]:
bilangan = int(input("Masukkan bilangan: "))

if bilangan > 0:
  print("Bilangan positif")
elif  bilangan < 0:
  print("Bilangan negatif")
else:
  print("Bilangan nol")

Masukkan bilangan: 0
Bilangan nol

Tugas Menentukan Kategori Usia

In [ ]:
# kode untuk tugas menentukan kategori usia

In [ ]:
umur = int(input("Masukan umur Anda: "))

if umur < 5:
  print("Kategori: Balita")
elif umur <= 11:
  print("Kategori: Anak-Anak")
elif umur <= 17:
  print("Kategori: Remaja")
elif umur <= 59:
  print("Kategori: Dewasa")
else:
  print("Kategori: Lansia")

Masukan umur Anda: 60
Kategori: Lansia

Tugas Hitung Tarif Parkir

In [ ]:
# kode untuk tugas hitung tarif parkir

In [ ]:
jam = int(input("Masukan lama parkir (jam): "))

if jam <= 2:
  tarif = 5000
elif jam > 2 and jam <= 9:
  tarif = 5000 + (jam - 2) * 2000
else:
  tarif = 20000

print("Total tarif parkir: Rp", tarif)

Masukan lama parkir (jam): 10
Total tarif parkir: Rp 20000

Tugas Cek Login Sederhana

In [ ]:
# kode untuk cek login sederhana

In [ ]:
username = input("Masukkan username: ")
password = input("Masukkan password: ")

if username == "admin" and password == "1234":
  print("Login berhasil")
else:
  print("Login gagal")

Masukkan username: admin
Masukkan password: 12
Login gagal

Tugas Cek Genap/Ganjil

In [ ]:
# kode untuk tugas cek genap/ganjil

In [ ]:
bilangan = int(input("Masukkan bilangan: "))
hasil = "Genap" if bilangan % 2 == 0 else "Ganjil"
print(f"Bilangan {bilangan} adalah {hasil}")

Masukkan bilangan: 5
Bilangan 5 adalah Ganjil

Tugas Menu Restoran

In [ ]:
# kode untuk tugas menu retoran

In [ ]:
menu = int(input("Pilih menu (1-3): "))

match menu:
  case 1:
    print("Anda memilih Nasi Goreng")
  case 2:
    print("Anda memilih Mie Ayam")
  case 3:
    print("Anda memilih Soto Ayam")
  case _:
    print ("Menu tidak tersedia")

Pilih menu (1-3): 4
Menu tidak tersedia

Tugas Program Penentuan Diskon

In [ ]:
# kode untuk program penentuan diskon

In [4]:
barang = input("Masukan nama barang: ")
harga = float(input("Masukan harga barang: "))
jumlah = int(input("Masukan jumlah barang: "))

total = harga * jumlah

if total >= 500000:
  diskon = 0.2
elif total >= 250000:
  diskon = 0.1
else:
  diskon = 0

bayar = total - (total * diskon)

print("\n===== Struk Belanja =====")
print(f"Barang : {barang}")
print(f"Jumlah : {jumlah}")
print(f"Total  : Rp {total}")
print(f"Diskon : {diskon*100}%")
print(f"Bayar  : Rp {bayar}")

Masukan nama barang: Tas
Masukan harga barang: 75000
Masukan jumlah barang: 3

===== Struk Belanja =====
Barang : Tas
Jumlah : 3
Total  : Rp 225000.0
Diskon : 0%
Bayar  : Rp 225000.0